.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ui.card.login-card {
    width: 450px;
  }
  
  
  
  .ui.form input[type=text],
  .ui.form input[type=password],
  .ui.form select {
    margin-top: 10px;
  }
  
  
  .logout
  {
  float:right;
  position: relative;
  top: 4px;
  right: 15px;
  }
  
  
  
  .actions {
    text-align: right;
  }
  
  .actions button{
    margin-right: 5px;
  }
  
  .actions a{
    margin-left: 5px;
  }
  
  
  .Container-marginTop {
    margin-top: 50px;
  }
  .Container-color{
      border: 1px solid #80808047;
  }
  
  
  p{
      font-size: smaller;
      font-family: monospace;
  }
  
  .react-datepicker-wrapper,
  .react-datepicker__input-container,
  .react-datepicker__input-container input {
    display: block;
    width: 100%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  body {
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }
  
  
  form {
      max-width: 500px;
      margin: 0 auto;
    }
    
    h1 {
      font-weight: 100;
      color: white;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(79, 98, 148);
    }
    
    
    p {
      color: #bf1650;
    }
    
    p::before {
      display: inline;
      content: "⚠ ";
    }
    
    input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      border-radius: 4px;
      border: 1px solid black;
      padding: 10px 15px;
      margin-bottom: 10px;
      font-size: 14px;
    }
    
    label {
      line-height: 2;
      text-align: left;
      display: block;
      margin-bottom: 13px;
      margin-top: 20px;
      color: black;
      font-size: 14px;
      font-weight: 200;
    }
    
    input[type="submit"] {
      background: #ec5990;
      color: black;
      text-transform: uppercase;
      border: none;
      margin-top: 40px;
      padding: 20px;
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 10px;
    }
    
    input[type="submit"]:hover {
      background: #bf1650;
    }
    
    input[type="button"]:active,
    input[type="submit"]:active {
      transition: 0.3s all;
      transform: translateY(3px);
      border: 1px solid transparent;
      opacity: 0.8;
    }
    
    input:disabled {
      opacity: 0.4;
    }
    
    input[type="button"]:hover {
      transition: 0.3s all;
    }
    
    input[type="button"],
    input[type="submit"] {
      -webkit-appearance: none;
    }
    
    
    hr {
      margin-top: 30px;
    }
    
  
  
    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
    
   .HeaderLoginUser{
    margin-inline:44px;
   }


   .DropDownSelect{
    width: 100%;
    height: 45px; 
   border-radius: 5px;
    padding: 10px 15px; 
   border: solid 1px #000000;
   }